<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Garage Cape Town</title>
	<link rel="icon" type="image/png" href="">
	<link href="/assets/css/style.css" rel="stylesheet">
</head>

<body>

	<div class="nav_bar">

		<header class="header" data-feature="header">

			<div class="header__beam">

				<a href="/">

					<svg class="logo svg-icon" viewBox="0 0 160 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g class="logo--color svg-icon--color" transform="translate(-250.000000, -260.000000)" fill="#1A1919">
								<g transform="translate(250.000000, 260.000000)">
									<path d="M0,14.9355197 L0,14.1051371 C0,4.97888548 4.67209062,0 12.9696882,0 C15.7892817,0 18.004992,0.498456913 19.8977848,1.20379902 L21.6702426,1.86765042 C22.4353085,2.15694867 22.5567475,2.53093345 22.3558212,3.40223841 L22.0329037,4.60603743 C21.8314253,5.55918708 21.5085079,5.80813136 20.8245854,5.55918708 L19.2127583,4.97888548 C17.5214438,4.39744714 15.9107207,4.02459909 13.8959368,4.02459909 C8.25674995,4.02459909 5.15563875,7.34328771 5.15563875,14.1051371 L5.15563875,14.9355197 C5.15563875,22.0298631 8.25674995,24.9757037 13.8556412,24.9757037 C16.7955696,24.9757037 18.4885401,23.9372992 18.4885401,23.9372992 L18.4885401,14.2301776 C18.4885401,13.5663262 18.8914969,12.9860246 20.3410373,12.9860246 L21.1463988,12.9860246 C22.6367869,12.9860246 23,13.5663262 23,14.2301776 L23,24.1043987 C23,25.3906108 22.6367869,26.3448972 21.5493556,27.0076119 C19.9789282,27.8783485 17.3199654,28.9997344 13.0502796,28.9997344 C4.75212998,29.0406568 0,24.3522063 0,14.9355197"
									    id="Fill-1"></path>
									<path d="M68.9274215,13.8472247 C72.6101988,13.8472247 74.0272916,12.3235419 74.0272916,9.11258185 C74.0272916,5.94167422 72.7322186,4.62389443 68.8469994,4.62389443 L63.7876177,4.62389443 C63.1398038,4.62389443 62.9379166,4.91159464 62.9379166,5.36401733 L62.9379166,13.8472247 L68.9274215,13.8472247 Z M77.5070725,29 L76.091089,29 C74.5530857,29 73.8647835,28.4240355 73.5414312,27.6822202 L69.4537703,19.529586 C68.6844913,18.0877002 67.9961891,17.1828548 66.175322,17.0999295 L62.9379166,17.0999295 L62.9379166,27.6410396 C62.9379166,28.3828548 62.533033,29 60.87301,29 L60.0227544,29 C58.445372,29 58,28.3828548 58,27.6410396 L58,4.12916289 C58,2.15305732 59.1730533,1 62.0061296,1 L69.6967005,1 C76.091089,1 78.6812351,3.51201773 78.6812351,8.8643699 C78.6812351,13.3942379 76.4549296,15.865075 72.1243385,16.5651456 C72.6512418,16.9357711 73.4598999,17.675894 74.1077137,18.8706961 L78.8426339,27.6822202 C79.2081385,28.3828548 79.0045874,29 77.5070725,29 Z"
									    id="Fill-3"></path>
									<path d="M111,14.9355197 L111,14.1051371 C111,4.97888548 115.672091,0 123.969688,0 C126.789282,0 129.004992,0.498456913 130.897785,1.20379902 L132.670795,1.86765042 C133.435309,2.15694867 133.556748,2.53093345 133.355821,3.40223841 L133.032904,4.60603743 C132.831425,5.55918708 132.509612,5.80813136 131.825137,5.55918708 L130.21331,4.97888548 C128.521444,4.39744714 126.910721,4.02459909 124.896489,4.02459909 C119.25675,4.02459909 116.155639,7.34328771 116.155639,14.1051371 L116.155639,14.9355197 C116.155639,22.0298631 119.25675,24.9757037 124.856193,24.9757037 C127.796122,24.9757037 129.48854,23.9372992 129.48854,23.9372992 L129.48854,14.2301776 C129.48854,13.5663262 129.891497,12.9860246 131.341037,12.9860246 L132.146399,12.9860246 C133.636787,12.9860246 134,13.5663262 134,14.2301776 L134,24.1043987 C134,25.3906108 133.636787,26.3448972 132.549356,27.0076119 C130.978928,27.8783485 128.319965,28.9997344 124.050832,28.9997344 C115.753234,29.0406568 111,24.3522063 111,14.9355197"
									    id="Fill-5"></path>
									<path d="M146.139567,5.4475068 L146.139567,12.9829959 L156.75645,12.9829959 C157.38807,12.9829959 157.894406,13.3118767 157.894406,14.464934 L157.894406,15.0408986 C157.894406,16.1956482 157.38807,16.5245291 156.75645,16.5245291 L146.139567,16.5245291 L146.139567,24.5530573 C146.139567,25.0060441 146.392446,25.2948726 147.066213,25.2948726 L158.778905,25.2948726 C159.410526,25.2948726 160,25.6237534 160,26.8179913 L160,27.4357006 C160,28.6288103 159.410526,29 158.778905,29 L145.170197,29 C142.180103,29 141,27.8475068 141,25.8708371 L141,4.12972701 C141,2.15362144 142.180103,1 145.170197,1 L158.778905,1 C159.410526,1 160,1.3717538 160,2.56655586 L160,3.18257278 C160,4.37737484 159.410526,4.7073839 158.778905,4.7073839 L147.066213,4.7073839 C146.392446,4.7073839 146.139567,4.99452 146.139567,5.4475068"
									    id="Fill-7"></path>
									<path d="M53.924223,27.5282929 L45.5157199,3.40404241 C44.7554166,1.0502323 43.5712427,0 41.3742961,0 L40.82477,0 C38.3319247,0 37.3174149,1.0502323 36.5571115,3.44607473 L28.0640659,27.5282929 C27.8521307,28.3280586 28.1051791,29 29.7537576,29 L30.6837249,29 C32.3311453,29 33.0080643,28.3280586 33.2188414,27.5282929 L40.5717216,4.8331414 C40.6562641,4.58037168 40.7824987,4.53949093 40.9093125,4.53949093 C41.0789765,4.53949093 41.2046321,4.58037168 41.2897537,4.8331414 L45.2192421,17.2729818 L40.5555079,17.2729818 C40.0337766,17.2729818 39.8577429,17.7894611 39.8577429,17.7894611 C39.8577429,17.7894611 39.3087958,19.4845729 39.1194438,20.0839654 C39.0238992,20.3862526 39.1373946,20.8036969 39.5467887,20.8036969 L46.3605657,20.8036969 L48.4729698,27.5282929 C48.6849051,28.3280586 49.3178156,29 50.9241228,29 L52.1916811,29 C53.8396805,29 54.1784295,28.3280586 53.924223,27.5282929"
									    id="Fill-9"></path>
									<path d="M107.924223,27.5282929 L99.5157199,3.40404241 C98.7554166,1.0502323 97.5712427,0 95.3742961,0 L94.82477,0 C92.3319247,0 91.3174149,1.0502323 90.5571115,3.44607473 L82.0640659,27.5282929 C81.8521307,28.3280586 82.1051791,29 83.7537576,29 L84.6837249,29 C86.3311453,29 87.0080643,28.3280586 87.2188414,27.5282929 L94.5717216,4.8331414 C94.6562641,4.58037168 94.7824987,4.53949093 94.9093125,4.53949093 C95.0789765,4.53949093 95.2046321,4.58037168 95.2897537,4.8331414 L99.2192421,17.2729818 L94.5555079,17.2729818 C94.0337766,17.2729818 93.8577429,17.7894611 93.8577429,17.7894611 C93.8577429,17.7894611 93.3087958,19.4845729 93.1194438,20.0839654 C93.0238992,20.3862526 93.1373946,20.8036969 93.5467887,20.8036969 L100.360566,20.8036969 L102.47297,27.5282929 C102.684905,28.3280586 103.317816,29 104.924123,29 L106.191681,29 C107.839681,29 108.17843,28.3280586 107.924223,27.5282929"
									    id="Fill-11"></path>
								</g>
							</g>
						</g>
					</svg>
				</a>
				<div class="header__beam__icon navigation--toggler">
					<span class="header__beam__icon__bar"></span>
					<span class="header__beam__icon__bar"></span>
					<span class="header__beam__icon__bar"></span>
				</div>

			</div>

			<!--
       Navigation
   -->

			<nav class="navigation" data-feature="navigation">
				<div>
					<ul class="navigation__list">
						<li class="navigation__list__item">
							<a class="navigation__list__item__link navigation__list__item__link--yellow" href="/">Home</a>
						</li>
						<li class="navigation__list__item">
							<a class="navigation__list__item__link navigation__list__item__link--pink" href="portfolio">Portfolio</a>
						</li>
						<li class="navigation__list__item">
							<a class="navigation__list__item__link navigation__list__item__link--blue" href="contact">Contact</a>
						</li>


					</ul>

					<div class="navigation__information">

						<ul class="navigation__information__contact">
							<li>Get in touch</li>
							<li>garage@innogy.com</li>
						</ul>

						<ul class="navigation__information__adress">
							<li>Visit the Garage</li>
							<li>Fred. Roeskestraat 99</li>
							<li>1076 EE Amsterdam</li>
						</ul>
					</div>
				</div>

				<div class="navigation__socials">
					<a target="_blank" href="https://www.instagram.com/garagebyinnogy/">

						<svg class="instagram svg-icon" viewBox="0 0 35 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<defs>
								<path d="M17.5,36 C27.1649831,36 35,27.9411255 35,18 C35,9.22733785 28.89857,1.92045718 20.8224226,0.323976606 C19.7467306,0.111335449 18.636006,0 17.5,0 C7.83501688,0 0,8.0588745 0,18 C0,27.9411255 7.83501688,36 17.5,36 Z"
								    id="path-1"></path>
							</defs>

							<mask id="masked" fill="white">
								<use xlink:href="#path-1"></use>
							</mask>

							<use class="instagram--color svg-icon--color" fill="#FFC300" xlink:href="#path-1"></use>

							<g mask="url(#masked)" class="mask" fill="#F8F9F9">
								<g transform="translate(9.180328, 9.442623)">
									<path d="M13.1969003,17.704918 L4.01642923,17.704918 C1.80753274,17.704918 0,15.8459624 0,13.5739546 L0,4.13118435 C0,1.85917653 1.80753274,0 4.01642923,0 L13.1969003,0 C15.4057968,0 17.2131148,1.85917653 17.2131148,4.13118435 L17.2131148,13.5739546 C17.2131148,15.8459624 15.4057968,17.704918 13.1969003,17.704918 Z M8.89344262,4.72131148 C6.5168577,4.72131148 4.59016393,6.70305364 4.59016393,9.14754098 C4.59016393,11.5920283 6.5168577,13.5737705 8.89344262,13.5737705 C11.2700275,13.5737705 13.1967213,11.5920283 13.1967213,9.14754098 C13.1967213,6.70305364 11.2700275,4.72131148 8.89344262,4.72131148 Z M13.7704918,2.36065574 C13.1368104,2.36065574 12.6229508,2.88919702 12.6229508,3.54098361 C12.6229508,4.1927702 13.1368104,4.72131148 13.7704918,4.72131148 C14.4041732,4.72131148 14.9180328,4.1927702 14.9180328,3.54098361 C14.9180328,2.88919702 14.4041732,2.36065574 13.7704918,2.36065574 Z"></path>
								</g>
							</g>
						</svg>
					</a>
					<a target="_blank" href="https://www.linkedin.com/company/25177929/">

						<svg class="linkedIn svg-icon" viewBox="0 0 35 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<g>
								<ellipse class="linkedIn--color svg-icon--color" fill="#FFC300" cx="17.5" cy="18" rx="17.5" ry="18"></ellipse>
								<path class="mask" d="M9.18032787,25.9672131 L12.6229508,25.9672131 L12.6229508,14.7540984 L9.18032787,14.7540984 L9.18032787,25.9672131 Z M11.2007544,9.44262295 C9.97926757,9.44262295 9.18032787,10.3345288 9.18032787,11.5074544 C9.18032787,12.6547802 9.95617401,13.5737705 11.1533638,13.5737705 L11.177238,13.5737705 C12.4223714,13.5737705 13.1967213,12.6549612 13.1967213,11.5074544 C13.17327,10.3345288 12.4223714,9.44262295 11.2007544,9.44262295 Z M25.8196721,19.6851209 L25.8196721,25.9672131 L22.2491203,25.9672131 L22.2491203,20.1058741 C22.2491203,18.6334371 21.7326921,17.6285812 20.440255,17.6285812 C19.4536663,17.6285812 18.8665351,18.3058086 18.6082234,18.9608666 C18.5140286,19.1950719 18.4897885,19.5210079 18.4897885,19.8488356 L18.4897885,25.9672131 L14.9180328,25.9672131 C14.9180328,25.9672131 14.9661226,16.0400206 14.9180328,15.0115019 L18.4894306,15.0115019 L18.4894306,16.5644188 C18.4821748,16.5760345 18.4727716,16.5885463 18.4659388,16.5998301 L18.4894306,16.5998301 L18.4894306,16.5644188 C18.9639185,15.8189908 19.8113462,14.7540984 21.7080941,14.7540984 C24.0580181,14.7540652 25.8196721,16.3199585 25.8196721,19.6851209 Z"
								    id="Page-1" fill="#FFFFFF"></path>
							</g>
						</svg>
					</a>
				</div>
			</nav>

		</header>

	</div>

	<div class="home_banner"></div>

	<div class="short">

		{{#with first_slide_left}}
		<h1 class="short">{{header}}</h1>
		{{/with}} {{#with first_slide_right}}
		<div class="about_text">

			<p class="sub_heading">{{sub_heading1}}</p>

			<p class="about">{{about1}}</p>

			<p class="sub_heading">{{sub_heading2}}</p>

			<p class="about">{{about2}}</p>

			<p class="sub_heading">{{sub_heading3}}</p>

			<p class="about">{{about3}}</p>

		</div>
		{{/with}}
	</div>
	<div class="regular"></div>

	<div class="service"></div>

	<div class="portfolio"></div>

	<div class="partners"></div>

	<div class="contact"></div>

	<div class="patterns"></div>

	<div class="footer"></div>

	</div>

</body>

<script src="/assets/js/nav.js"></script>

</html>